name: bookbook-nest
services:
  database: # MySQL
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
  api: # NestJS
    build: .
    ports:
      - "8001:8001"
    env_file:
      - .env
    environment:
      DATABASE_HOST: database
    depends_on:
      - database

volumes:
  db_data:
